:root {
    --background-color: #FFD600;
    --button-hover: #4B4948;
    --normal-button: #E64D00;
    --white: #FCFAEF;
    --black: #140101;
    --button-shadow: #14010152;


    --normal-type: franklin-gothic-urw, sans-serif;
    --horoscope-type: ohno-blazeface, sans-serif;

    --rhythm: 0.5rem;
}

* {
    box-sizing: border-box;
}

img {
    max-height: 600px;
    /* max-width: fit-content; */
    /* width: 100%; */
}

body{
    background-color: var(--background-color);
}

main {
    margin: calc(var(--rhythm) * 12) auto;
    width: calc(var(--rhythm) * 150);
}

h1, p, input, label {
    font-family: var(--normal-type);
}

.horoscope_button {
    font-family: var(--horoscope-type);
}

h1 {
    margin-bottom: calc(var(--rhythm) * 2);
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 52% 48%;
    gap: calc(var(--rhythm) * 3);

}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--rhythm) * 2);
}

.horoscope_button {
    border: none;
    height: calc(var(--rhythm) * 15);
    width: 100%;
    background-color: var(--white);
    color:  var(--button-hover);
    transition-duration: 0.1s;
}

.horoscope_button:hover, .horoscope_button:link {
    color: var(--white);  
    background-color:  var(--button-hover);
}

.horoscope_button:active {
    box-shadow: -4px 6px 8px 0px var(--button-shadow)
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    margin-bottom: calc(var(--rhythm) * 2);
}

form > div {
    display: grid;
    grid-template-columns: 70% auto;
    gap: var(--rhythm);
    height: calc(var(--rhythm) * 5);
}

form > div > button {
    border: none;
    background-color: var(--normal-button);
    color: var(--white);
    font-size: calc(var(--rhythm) * 2);
}

form > div > button:hover {
    border: none;
    background-color: var(--white);
    color: var(--normal-button);
}

form > div > button:active {
    box-shadow: -4px 6px 8px 0px var(--button-shadow)
}


/* form > div > button:hover {
    background-color: var(--white);
    color: var(--normal-button);
} */

form > div > input {
    border: none;
    background-color: var(--white);
    font-size: calc(var(--rhythm) * 2);
    text-align: center;
}